<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
          <div class="resources grid grid-4col">

            <div class="resource flex-group-center border_none">
                <label for="data.health.value" class="resource-label">HP</label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input type="text" name="data.health.value" value="{{data.data.health.value}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="resource flex-group-center border_none">
                <label for="data.power.value" class="resource-label">Speed</label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input type="text" name="data.speed.value" value="{{data.data.speed.value}}" data-dtype="Number"/>
                  </div>
            </div>
            <div class="resource flex-group-center border_none">
              <label for="data.power.value" class="resource-label">Damage</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="data.damage.value" value="{{data.data.damage.value}}" data-dtype="Number"/>
                </div>
          </div>
            <div class="resource flex-group-center border_none">
              <label for="data.power.value" class="resource-label">Armor</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="data.armor.value" value="{{data.data.armor.value}}" data-dtype="Number"/>
                </div>
          </div>
        </div>

      </div>
  </header>

  <section class="sheet-body">
    <div class="resources-content flexrow flex-right grid-3col"><input class="border_none" type="text" name="data.description" value="{{data.data.description}}"/></div>
    <div class="resources grid grid-4col">
      <div class="resources-content flexrow flex-left flex-between grid-1col"><label>Trait Tags </label></div>
      <div class="resources-content flexrow flex-right grid-3col"><input class="border_none" type="text" name="data.traits" value="{{data.data.traits}}"/></div>
    </div>
    <div class="resources grid grid-4col">
      <div class="resources-content flexrow flex-left flex-between grid-1col"><label>Combat Notes</label> </div>
      <div class="resources-content flexrow flex-right grid-3col"><input class="border_none" type="text" name="data.combat_notes" value="{{data.data.combat_notes}}"/></div>
    </div>

    <ol class="items-list">
      <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">Abilities</div>
        <div class="item-controls">
          <a class="item-control item-create" title="Create item" data-type="technique"><i class="fas fa-plus"></i> Add</a>
        </div>
      </li>
  {{#each actor.items as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
              <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
      </li>
  {{/each}}
  </ol>

  </section>
</form>

